
.pot {
  display: flex;
}

.pot--entry {
  position: relative;
  width: 6.5em;
}

.pot--split {
  transition: transform ease 500ms;
  position: absolute;
  display: flex;
  margin: 0.5em;
  z-index: 3;
  
  h2 {
    margin-right: 0.2em;
  }
}
