<section class="container">
  <div class="join-form">
    <h1>Start a New Session</h1>

    <%= live_component(@socket, DramahaWeb.SessionsLive.FormComponent, id: :new_session_form, session: %Dramaha.Sessions.Session{}) %>
  </div>
</section>
